@CHARSET "UTF-8";


body { 
    font-family: Verdana; font-size: 12px; background-color: #FAFAFA; color: #63665F;
    background: -moz-linear-gradient(center top , #FFFFFF, #FAFAFA) repeat scroll 0 0 transparent;
    margin: 0; padding: 0;
}
#page { width: 400px; margin: 30px auto; }
#gamesHolder { padding: 5px; margin-top: 30px; width:400px; }

#header { text-align: center;  }
#header h1 { color: #333333; font-size: 50px; }
#header h2 { color: #333333; font-size: 30px; }

a { text-decoration: none;}

.customFont {
    font-family: 'Pompiere', Verdana, cursive;
    font-size: 18px;
}

#header h1, #header h2 { margin: 0; padding: 0; font-weight: normal; }

ul { padding: 0 0 0 15px; margin: 0; }

.holder { padding: 17px 5px; border-radius: 5px; box-shadow: 0px 0px 3px #CCC; }
.text { background-color: #f3f3f3; padding: 20px; line-height: 20px; overflow: hidden; zoom: 1; }

.holder h2 { margin: 0; padding: 0px 0px 15px 0px; }

code { display: block; background-color: #fff; padding: 10px; overflow: auto; }
pre { margin: 10px 0px; padding: 0; }

.h2 {
    font-weight: normal;
    display: none;
}

.button a {
    background: #0B5B60;
    margin: 10px 100px;
    opacity: 1;
    outline: medium none;
    padding: 5px ;
    text-align: center;
    text-decoration: none;
    display: block;
    line-height: 50px;
    background: #599BDC;
    background: -webkit-linear-gradient(top,  #599BDC, #3072B3); /* webkit browsers */
    background:    -moz-linear-gradient(top,  #599BDC, #3072B3); /* firefox 3.6+ */
    background:      -o-linear-gradient(top,  #599BDC, #3072B3); /* opera */
    background:     -ms-linear-gradient(top,  #599BDC, #3072B3); /* IE10 */
    background:         linear-gradient(top,  #599BDC, #3072B3); /* css3 */  
    border: 1px solid #518CC6;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);    
    border-radius: 5px;
}
.button a:hover {
    background: #3072B3;
    background: -webkit-linear-gradient(top,  #3072B3, #599BDC); /* webkit browsers */
    background:    -moz-linear-gradient(top,  #3072B3, #599BDC); /* firefox 3.6+ */
    background:      -o-linear-gradient(top,  #3072B3, #599BDC); /* opera */
    background:     -ms-linear-gradient(top,  #3072B3, #599BDC); /* IE10 */
    background:         linear-gradient(top,  #3072B3, #599BDC); /* css3 */  
    box-shadow: 0 0 3px #518CC6;
}

.bar {
    background-color: #111;
    color: #f0f0f0;
    box-shadow: 0px 0px 2px #333;
    line-height: 25px;
    padding: 0px 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10000;
}
.bar a {
    color: #DDD;
}
.bar a:hover {
    color: #FFFFFF;
}
#download {
    clear: both;
}
#download .button {
    font-size: 22px;    
}
#features ul {
    overflow: hidden;
    zoom: 1;
    margin: 15px;
}
#features li {
    width: 50%;
    float: left;
}

/** Coin Slider additional styles **/
.cs-buttons a {
    border-radius: 50%;
    background: #CCC;
    background: -webkit-linear-gradient(top,  #CCCCCC, #F3F3F3); /* webkit browsers */
    background:    -moz-linear-gradient(top,  #CCCCCC, #F3F3F3); /* firefox 3.6+ */
    background:      -o-linear-gradient(top,  #CCCCCC, #F3F3F3); /* opera */
    background:     -ms-linear-gradient(top,  #CCCCCC, #F3F3F3); /* IE10 */
    background:         linear-gradient(top,  #CCCCCC, #F3F3F3); /* css3 */      
}
a.cs-active {
    background: #599BDC;
    background: -webkit-linear-gradient(top,  #599BDC, #3072B3); /* webkit browsers */
    background:    -moz-linear-gradient(top,  #599BDC, #3072B3); /* firefox 3.6+ */
    background:      -o-linear-gradient(top,  #599BDC, #3072B3); /* opera */
    background:     -ms-linear-gradient(top,  #599BDC, #3072B3); /* IE10 */
    background:         linear-gradient(top,  #599BDC, #3072B3); /* css3 */  
    border-radius: 50%;    
    box-shadow: 0 0 3px #518CC6;   
    border: 1px solid #3072B3 !important;     
}


